/* @import './base.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..600&display=swap');
  :root {
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    --tr-base-font-size: 1rem; /* 16px */
    --tr-xs-font-size: 0.75rem; /* 12px */
    --tr-sm-font-size: 0.875rem; /* 14px */
    --tr-md-font-size: 1.375rem; /* 22px */

    --tr-grey: #9ea3a9;
    --tr-off-white: #f7f7f8;
    --tr-white: #ffffff;
    --tr-black: #181a1b;
    --tr-bg-blue: #2d68a2;
    --tr-red: #e95050;
    --tr-green: #4db24d;
  }

  body {
    height: 100%;
    color: var(--tr-black);
    background: var(--tr-white);
    transition:
      color 0.5s,
      background-color 0.5s;
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .base-btn {
    @apply font-normal text-[var(--tr-black)] flex items-center space-x-1 hover:bg-[var(--tr-off-white)] px-2 py-1 rounded-sm;
    span {
      font-size: var(--tr-sm-font-size);
      line-height: 16.24px;
    }
  }
}

@layer utilities {
  .nav-header {
    @apply flex items-center justify-between;

    .circular-icon {
      @apply p-1.5 rounded-full bg-[var(--tr-off-white)];
      &.add-icon {
        @apply bg-[var(--tr-bg-blue)];
      }
    }
  }

  .todo-layout {
    @apply flex flex-col bg-[var(--tr-off-white)] rounded-lg p-1.5 h-fit max-h-full overflow-hidden;
    min-width: 272px;
    width: 272px;
    &.empty-layout {
      @apply bg-transparent p-0 rounded-none;
    }
  }
}

#app {
  @apply h-full;
}
